/* Adjust the size of the logo container */
.md-header__button.md-logo img, 
.md-header__button.md-logo svg {
  height: 60px;  /* Increase from the default 24px */
  width: auto;   /* Maintains original aspect ratio */
}

.md-typeset h1, 
.md-typeset h2, 
.md-typeset h3, 
.md-typeset h4, 
.md-typeset h5, 
.md-typeset h6 {
  font-weight: 700; /* Use 'bold', 400, 500, 700, etc. */
}

:root  > * {
  --md-primary-bg-color: #ECB7B7;
  --md-primary-bg-color--light: #ECB7B7;
}

body {
  /* background: red; */
  /* or, using CSS variables */
  --md-default-bg-color: lightpink; /* Light pink background */
}
